<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Pooch Pals</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
</head>
<body>

  <% if logged_in? %>
  <div id="currentlyLoggedInDiv">
    <span id="loggedinHeader">Welcome, <%= current_user.username %> </span>

    <form action="/session" method="post">
      <input type="hidden" name="_method" value="delete">
      <button>logout</button>
    </form>
  </div>

  <% else %>

<div id="currentlyLoggedOutDiv">
  <form action="/session" method="post">
    <table>
      <tr>
        <td style="width: 20%"><label for="">email</label></td>
        <td>
          <input type="text" name="email">
        </td>
      </tr>
      <tr>
        <td><label for="">password</label></td>
        <td><input type="password" name="password"></td>

        <td style="width: 80%">
          <button>Login</button>
          <a id="signupLink" href="/signup">Sign up </a>
        </td>
      </tr>
    </table>
  </form>
</div>
  <% end %>

<div id="headerDiv">
  <img src="images\logo4.png"></img>
</div>

  <heading>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/searchusers">Search</a> </li>
        <li><a href="/post">Add Post</a></li>
        <li><a href="/friendlist">My Friends</a></li>
    </nav>
  </heading>

<hr>
  <%= yield %>

</body>


<!--
<p><a href="/searchusers">Search</a>  </p>
<p><a href="/post">Add Post</a></p>
<p><a href="/friendlist">My Friends</a></p> -->
