<h2>Add Post</h2>

<form action="/post" onsubmit="return validateSubmitPostForm()"  method="post">

<table>
  <tr>
    <td class="tdHeaderRowCol1">
      <label id="commentsLabel" for="">Comments</label>
    </td>
    <td>
      <textarea id="textarea" name="content"></textarea>
    </td>
  </tr>
  <tr>
    <td>
      <label for="">Image URL or Youtube Video</label>
    </td>
  <td>
    <input class="inputBox" type="text" id="primaryimageurl" name="primaryimageurl">
  </td>
</tr>
<tr>
  <td></td>
  <td>
      <button>Post</button>
  </td>

</tr>

</table>

</form>
