<form action="/post" method="post">

  <h1>Add Post</h1>

  <label for="">email</label>
  <input type="text" name="comments">

  <label for="">password</label>
  <input type="text" name="picture_url">

  <button>Post</button>
</form>
