<form action="/post" method="post">

  <h1>Add Post</h1>

<table>
  <tr>
    <td class="tdHeaderRowCol1">
      <label id="commentsLabel" for="">Comments</label>
    </td>
    <td>
      <textarea id="textarea" name="content"></textarea>
    </td>
  </tr>
  <tr>
    <td>
      <label for="">Image URL</label>
    </td>
  <td>
    <input class="inputBox" type="text" name="primaryimageurl">
  </td>
</tr>
<tr>
  <td></td>
  <td>
      <button>Post</button>
  </td>

</tr>

</table>

</form>
