<form action="/post" method="post">

  <h1>Add Post</h1>

  <label for="">Comments</label>
  <input type="text" name="content">

  <label for="">primaryimageurl</label>
  <input type="text" name="primaryimageurl">


  <label for="">secondaryimageurl</label>
  <input type="text" name="secondaryimageurl">


  <button>Post</button>
</form>
