<h2>Search for Users and Pooches</h2>

<form action="/searchusers" method="post">


  <table>
    <tr>
      <td class="tdHeaderRowCol1">
          <label for="">Pooch Breed / Username</label>
      </td>
      <td>
        <input type="text" class="inputBox" name="searchuserkeywords">
        <button>Search</button>
      </td>
    </tr>
  </table>

</form>
