<form action="/searchusers" method="post">

  <h1>Search for Users and Pooches</h1>

  <label for="">Enter Pooch Breed / Username</label>
  <p>
  <input type="text" name="searchuserkeywords">
    <button>Search</button>
</p>

</form>
