<form action="/signup" method="post">

  <h2>Your Details </h2>
  <table>
    <tr>
      <td><label class="signupLabel" for="">Username</label></td>
      <td>  <input class="signupInput" type="text" name="username"></td>
    </tr>
    <tr>
      <td><label class="signupLabel" for="">Image URL</label></td>
      <td><input class="signupInput" type="text" name="imageurl"></td>
    </tr>
    <tr>
      <td><label class="signupLabel" for="">Email</label></td>
      <td><input class="signupInput" type="text" name="email"></td>
    </tr>

    <tr>
      <td><label class="signupLabel" for="">Password</label></td>
      <td><input class="signupInput" type="text" name="password"></td>
    </tr>
</table>


<h2>Your Pooch </h2>

<table>
  <tr>
    <td><label class="signupLabel" for="">Name</label></td>
    <td><input class="signupInput" type="text" name="poochname"></td>
  </tr>

  <tr>
    <td><label class="signupLabel" for="">Breed</label></td>
    <td><input class="signupInput" ype="text" name="poochbreed"></td>
  </tr>

  <tr>
    <td>  <label class="signupLabel" for="">Image URL</label></td>
    <td>  <input class="signupInput" type="text" name="poochimageurl"></td>
  </tr>
</table>
  <button class="signupButton">Sign-Up</button>
</form>
