* {
  box-sizing: border-box;
}

.tdHeaderRowCol1 {
  width: 30%;
}

.header {
  background-color: #dee3e7;
  color: #555;
  font-size: 0.8em;
  border: solid 1px #cfd6dc;
  border-top-color: #fcfcfc;
  border-bottom-color: #b2bdc7;
  margin: 0.5em;
  padding: 0,2em;

}

.postContainer {
  /*border: 1px solid blue;*/
}


.userName, .poochName {
  vertical-align: top;
}
.signupLabel {
  display: block;
  width: 150px;
  float: left;
}

.signupInput {

  width: 150px;
  float: left;
}

.signupButton {
  clear: left;
}



 button {
   width: 80px;
   height: 25px;
   margin: 5px;
   background-color: brown;
   color: white;
   font-size:  0.75em;
   border-radius: 15px;
 }

body {
  /*background-color: lightgray;*/
}

#userImg {
  height: 80px;
  border: 1px solid black;
  margin: 3px;
}

#textarea {
  height: 60px;
  width: 300px;
  margin: 5px;
}

.inputBox {
  width: 300px;
  height: 30px;
  margin: 5px;
}


#poochImg {
  height: 80px;
  border: 1px solid black;
  margin: 3px;
}

.clearfix {
    overflow: auto;
}

form {
  display: inline-block;

}
#commentsLabel {
  vertical-align: top;
}


#currentlyLoggedInDiv, #currentlyLoggedOutDiv {
  height: 50px;
  width: 60%;
  display: inline-block;
  vertical-align: top;
}

#headerDiv {
  width: 350px;
  display: inline-block;
}

#headerDiv h3 {
  margin: 0;
  padding: 0;
  text-shadow:
    -2px -2px 0 #FFF,
    1px -1px 0 #FFF,
    -1px 1px 0 #FFF,
    1px 1px 0 #FFF;
}

#headerDiv h4 {
  margin: 0;
  padding: 0;
}

#currentlyLoggedOutDiv input{
  /*margin: 15px;*/
}

#currentlyLoggedOutDiv a{
  /*margin: 15px;*/
}

.primaryImagePost {
  float: left;
  margin: 0px 5px 5px 5px;
  width: 225px;
}

.primaryVideoPost{
  float: left;
  margin: 0px 5px 5px 5px;

}


.spanSmall {
  width: 40%;
  float: left;
  height: 100px;

}

.span-2 {
  width: 50%;
  float: left;
  height: 100px;
  border-bottom: 1px solid grey;
}

.span-3 {
  width: 98%;
  float: left;

}

.commentsContainer {
  margin: 10px;
  margin-left: 50px;
  background-color: #f4f4f4;
  border: 1px solid #ef8c38;

  margin: 30px auto;
  width: 68%;
}


.newCommentContainer {
  margin: 10px;
  background-color: #f4f4f4;
  border: 1px solid red;

  margin: 30px auto;
  width: 80%;
}


.searchResultsContainer {
  margin: 10px;
  background-color: #f4f4f4;
  border: 1px solid #ef8c38;

  margin: 30px auto;
  width: 80%;
}

.searchForUsersContainer {
  margin: 10px;
  background-color: #f6f6f6;
  border: 2px solid #ef8c38;

  margin: 10px auto;
  width: 80%;
}


.searchForUsersContainer img {
  width: 100px;
  background-color: #f6f6f6;
}

#signupLink {
  display: inline-block;
}

heading nav ul {
  padding: 0;
  margin: 0;
}

heading nav li {
  padding-right: 1em 0em 1em 0em;
  border: 1px solid black;
  list-style: none;
  text-align: center;
  background-color: #e7a974;
  padding: 0.4em  0.5em 1em  0.5em;
  font-family: 'Muli', sans-serif;
  height: 30px;
  vertical-align: top;
  border-radius: 10px;
}
nav li:nth-child(even) {
  background-color: #ef8c38;
}

heading nav li {
  width: 23%;
  display: inline-block;
}
heading nav{
  width: 95%;
  margin: 0 auto;
}
